body {
    width: 100%;
    height: 100%;
}

.playfield-container {
    width: 100vw;
    height: 70vh;
}
app-simulation-view {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
}