<div class="container"> 
    <!-- als er een dier geselecteerd is, toon de data, gebruik zelfgemaakte pipe om naar % om te zetten en number pipe om kommagetallen weg te halen -->
    @if(animal){
        <h1>stats</h1>
        <p>Animal id : {{ animal.id }}</p>
        <p>Animal hunger : {{ animal.hunger| statsToPercentPipe:animal.maxHunger | number:'1.0-0' }}%</p>
        <p>Animal reproduction : {{ animal.reproduction | statsToPercentPipe:5 | number:'1.0-0' }}%</p>
        <p>Animal coördinates : x = {{ animal.xCoord }}, z = {{ animal.zCoord }}</p>
    }
</div>